/* Header Styling */
:root {
    --primary-orange: #F26A2C;
    --dark-charcoal: #1E1E1E;
    --accent-cyan: #00CFC8;
}
header {
    background-color: var(--dark-charcoal); /* Dunkelblau für professionellen Look */
    padding: 20px 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

/* Header Navigation */
.headerb2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.headerb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headera {
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.headera:hover {
    color: var(--primary-orange); /* Sanfter Hover-Effekt */
}

.aimg {
    max-height: 50px;
    width: auto;
    margin-top: 5px;
}

/* Sprache Dropdown */
#lang {
    background-color: var(--accent-cyan);
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#lang:hover {
    background-color: #00b1aa;
}

/* User Info & Logout Button */
button {
    background-color: var(--primary-orange);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c45628;
}

/* Styling für den "Create" Button */
a .headerb {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

a .headerb:hover {
    background-color: #4cae4c;
}