<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrintCloud</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="header.css">
    <link rel="icon" type="image/x-icon" href="picture/logo.png">
</head>
<body>
    <script src="js/index.js"></script>
    <script src="js/languare.js"></script>
    <header>
        <div class="headerb2">
            <select class="headerb" id="lang" onchange="languare()">
                <option selected>Deutsch</option>
                <option>Englisch</option>
            </select>
            <form class="headerb" action="modells">
                <input name="search"  placeholder="Search..." type="search">
            </form>
            <a class="headerb" href="login">
                <img class="aimg" src="/picture/accounnt.png" alt="">
            </a>
            <a href="cratemodell">
                <button class="headerb">Erstellen</button>
            </a>
            
        </div>  
        <div class="headera2">
            <a class="headera" id="home" href="/">Home</a>
            <a class="headera" id="comunity" href="comunity">Comunity</a>
            <a class="headera" id="modells" href="modells">Modells</a>
        </div>    
    </header>
    <main>
        <section>
            <h3 id="modells">Models</h3>
            <div id="model-list-1">
                <% models.forEach((model) => { %>
                  <div class="boarderb">
                    <img src="/models/file/<%= model.pictureFile %>" width="200" height="200"
                      style="object-fit: contain; background-color: white;"><br>
                    <strong><%= model.name %></strong>
                    <p><%= model.description %></p><br>
                    <a href="/models/file/<%= model.dataFile %>" download>Download Datei</a>
                    <p>10👍</p><p>10⬇️</p>
                  </div>
                <% }); %>
                <!-- Neuste Modelle -->
              </div>
    
        </section>

    </main>
</body>
</html>